@mixin background-image($url, $attachment, $position, $repeat, $size) {
  background-image: url($url);
  background-attachment: $attachment;
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}

@mixin scrollStyle($bg-color) {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba($bg-color, 0.6);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $bg-color;
  }
}
